<section data-ng-controller="HomeController">
    <div class="jumbotron text-center">
        <div class="row">
            <h1>MatchPoint</h1> 
            <!--<div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
                <img alt="MEAN.JS" class="img-responsive text-center" src="modules/core/img/brand/logo.png" />
            </div>-->
        </div>
        <br>
        <div class="row">
            <p class="lead">
                Cervantesvirtual Digital Library tool for matching authors to VIAF repository
            </p>
        </div>
        <!--<div class="row">
            <p>
                <a class="btn btn-primary btn-lg" href="http://meanjs.org" target="_blank">Learn more</a>
            </p>
        </div>-->
    </div>
    <div>
        <h4>MatchPoint is an application for matching authors with <a href="http://viaf.org" target="_blank">Virtual International Authority File (VIAF)</a>.</h4>
        <p></p>
        <p>This sample application matches names using the <a href="https://www.oclc.org/developer/develop/web-services/viaf/authority-cluster.en.html" target="_blank">VIAF API</a>.</p>
        
        <p>"This service contains <a href="http://www.worldcat.org/" target="_blank">OCLC WorldCat</a> information made available under the <a href="http://opendatacommons.org/licenses/by/1.0/" target="_blank">ODC Attribution License</a>. The OCLC Cooperative requests that uses of WorldCat derived data contained in this work conform with the <a href="http://www.oclc.org/content/mainoclc/worldwide/en_us/worldcat/community/record-use/policy/community-norms.html" target="_blank">WorldCat Community Norms."</a></p>
    </div>
    
    <br>BVMC Development Team.
</section>
